html {
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: var(--ff-primary);
    font-size: var(--fs-2);
    font-weight: var(--fw-1);
    line-height: var(--lh-2);
    letter-spacing: var(--ls-2);
    color: var(--clr-2);

}

h2 {
    font-size: var(--fs-1);
    font-weight: var(--fw-2);
    line-height: var(--lh-1);
    letter-spacing: var(--ls-1);
    color: var(--clr-1);
}

p, li, figcaption {
    text-wrap: pretty;
    max-inline-size: 62ch;
}

img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a, a:visited, a:active {
    text-decoration: none;
}